# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [216]:
import warnings
warnings.filterwarnings('ignore')

In [217]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [218]:
symbol = 'MCD'
ticker = yf.Ticker(symbol)

### Show ticker info

In [219]:
pd.Series(ticker.info).head(20)

address1                                        110 North Carpenter Street
city                                                               Chicago
state                                                                   IL
zip                                                                  60607
country                                                      United States
phone                                                         630 623 3000
website                                    https://corporate.mcdonalds.com
industry                                                       Restaurants
industryDisp                                                   Restaurants
sector                                                   Consumer Cyclical
sectorDisp                                               Consumer Cyclical
longBusinessSummary      McDonald's Corporation operates and franchises...
fullTimeEmployees                                                   100000
companyOfficers          [{'maxAge': 1, 'name': 'Mr. Christopher J. Kem...
auditRisk                                                                6
boardRisk                                                                3
compensationRisk                                                         3
shareHolderRightsRisk                                                    7
overallRisk                                                              4
governanceEpochDate                                             1690848000
dtype: object

### Get market data

In [220]:
data = ticker.history(period='730d',
                      interval='60m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5090 entries, 2020-10-01 09:30:00-04:00 to 2023-08-25 15:30:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          5090 non-null   float64
 1   High          5090 non-null   float64
 2   Low           5090 non-null   float64
 3   Close         5090 non-null   float64
 4   Volume        5090 non-null   int64
 5   Dividends     5090 non-null   float64
 6   Stock Splits  5090 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 318.1 KB

### View company actions

In [221]:
# show actions (dividends, splits)
ticker.actions

                           Dividends  Stock Splits
Datetime
2020-11-30 09:30:00-05:00       1.29           0.0
2021-02-26 09:30:00-05:00       1.29           0.0
2021-05-28 09:30:00-04:00       1.29           0.0
2021-08-31 09:30:00-04:00       1.29           0.0
2021-11-30 09:30:00-05:00       1.38           0.0
2022-02-28 09:30:00-05:00       1.38           0.0
2022-06-03 09:30:00-04:00       1.38           0.0
2022-08-31 09:30:00-04:00       1.38           0.0
2022-11-30 09:30:00-05:00       1.52           0.0
2023-02-28 09:30:00-05:00       1.52           0.0
2023-06-02 09:30:00-04:00       1.52           0.0

In [222]:
ticker.dividends

Datetime
2020-11-30 09:30:00-05:00    1.29
2021-02-26 09:30:00-05:00    1.29
2021-05-28 09:30:00-04:00    1.29
2021-08-31 09:30:00-04:00    1.29
2021-11-30 09:30:00-05:00    1.38
2022-02-28 09:30:00-05:00    1.38
2022-06-03 09:30:00-04:00    1.38
2022-08-31 09:30:00-04:00    1.38
2022-11-30 09:30:00-05:00    1.52
2023-02-28 09:30:00-05:00    1.52
2023-06-02 09:30:00-04:00    1.52
Name: Dividends, dtype: float64

In [223]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [224]:
ticker.financials

,2023-03-31,2022-12-31,2022-09-30,2022-06-30,2022-03-31,2021-12-31,2021-09-30,2021-06-30,2021-03-31,2020-12-31,2020-09-30,2020-06-30,2020-03-31,2019-12-31,2019-09-30
Tax Effect Of Unusual Items,NaN,-201040800.0,NaN,NaN,NaN,46571600.0,NaN,NaN,NaN,644000.0,NaN,NaN,NaN,19372200.0,NaN
Tax Rate For Calcs,NaN,0.211,NaN,NaN,NaN,0.173,NaN,NaN,NaN,0.23,NaN,NaN,NaN,0.249,NaN
Normalized EBITDA,NaN,10355600000.0,NaN,NaN,NaN,10374200000.0,NaN,NaN,NaN,7656600000.0,NaN,NaN,NaN,9062200000.0,NaN
Total Unusual Items,NaN,-952800000.0,NaN,NaN,NaN,269200000.0,NaN,NaN,NaN,2800000.0,NaN,NaN,NaN,77800000.0,NaN
Total Unusual Items Excluding Goodwill,NaN,-952800000.0,NaN,NaN,NaN,269200000.0,NaN,NaN,NaN,2800000.0,NaN,NaN,NaN,77800000.0,NaN
Net Income From Continuing Operation Net Minority Interest,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Reconciled Depreciation,NaN,370400000.0,NaN,NaN,NaN,329700000.0,NaN,NaN,NaN,300600000.0,NaN,NaN,NaN,1617900000.0,NaN
Reconciled Cost Of Revenue,NaN,9975400000.0,NaN,NaN,NaN,10642700000.0,NaN,NaN,NaN,9455700000.0,NaN,NaN,NaN,9961200000.0,NaN
EBIT,NaN,9032400000.0,NaN,NaN,NaN,10313700000.0,NaN,NaN,NaN,7358800000.0,NaN,NaN,NaN,9140000000.0,NaN
Net Interest Income,NaN,-1163300000.0,NaN,NaN,NaN,-1176600000.0,NaN,NaN,NaN,-1200400000.0,NaN,NaN,NaN,-1085200000.0,NaN
Interest Expense,NaN,1207000000.0,NaN,NaN,NaN,1185800000.0,NaN,NaN,NaN,1218100000.0,NaN,NaN,NaN,1121900000.0,NaN
Interest Income,NaN,43700000.0,NaN,NaN,NaN,9200000.0,NaN,NaN,NaN,17700000.0,NaN,NaN,NaN,36700000.0,NaN
Normalized Income,NaN,6929159200.0,NaN,NaN,NaN,7322571600.0,NaN,NaN,NaN,4728344000.0,NaN,NaN,NaN,5966972200.0,NaN
Net Income From Continuing And Discontinued Operation,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Total Expenses,NaN,12838000000.0,NaN,NaN,NaN,13350200000.0,NaN,NaN,NaN,12001300000.0,NaN,NaN,NaN,12190600000.0,NaN
Rent Expense Supplemental,NaN,2349700000.0,NaN,NaN,NaN,2335000000.0,NaN,NaN,NaN,2207500000.0,NaN,NaN,NaN,2200600000.0,NaN
Total Operating Income As Reported,NaN,9371000000.0,NaN,NaN,NaN,10356000000.0,NaN,NaN,NaN,7324000000.0,NaN,NaN,NaN,9069800000.0,NaN
Diluted Average Shares,738275000.0,741300000.0,745125000.0,748400000.0,750950000.0,751800000.0,751675000.0,751100000.0,750175000.0,750100000.0,751175000.0,754600000.0,759675000.0,764900000.0,770300000.0
Basic Average Shares,733575000.0,736500000.0,740150000.0,743200000.0,745500000.0,746300000.0,746175000.0,745550000.0,744850000.0,744600000.0,745575000.0,748600000.0,753075000.0,758100000.0,763125000.0
Diluted EPS,9.3,8.33,7.93,8.12,9.47,10.04,9.7,9.19,6.89,6.31,6.55,6.31,7.63,7.88,7.62
Basic EPS,9.37,8.39,7.99,8.18,9.54,10.11,9.76,9.24,6.92,6.35,6.6,6.36,7.7,7.95,7.69
Diluted NI Availto Com Stockholders,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Net Income Common Stockholders,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Net Income,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Net Income Including Noncontrolling Interests,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Net Income Continuous Operations,NaN,6177400000.0,NaN,NaN,NaN,7545200000.0,NaN,NaN,NaN,4730500000.0,NaN,NaN,NaN,6025400000.0,NaN
Tax Provision,NaN,1648000000.0,NaN,NaN,NaN,1582700000.0,NaN,NaN,NaN,1410200000.0,NaN,NaN,NaN,1992700000.0,NaN
Pretax Income,NaN,7825400000.0,NaN,NaN,NaN,9127900000.0,NaN,NaN,NaN,6140700000.0,NaN,NaN,NaN,8018100000.0,NaN
Other Income Expense,NaN,-1355900000.0,NaN,NaN,NaN,431800000.0,NaN,NaN,NaN,134600000.0,NaN,NaN,NaN,217400000.0,NaN
Other Non Operating Income Expenses,NaN,-516300000.0,NaN,NaN,NaN,-14100000.0,NaN,NaN,NaN,14400000.0,NaN,NaN,NaN,-14200000.0,NaN
Special Income Charges,NaN,-1086800000.0,NaN,NaN,NaN,306600000.0,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,30100000.0,NaN
Gain On Sale Of Ppe,NaN,-136800000.0,NaN,NaN,NaN,-75400000.0,NaN,NaN,NaN,-290700000.0,NaN,NaN,NaN,-23100000.0,NaN
Gain On Sale Of Business,NaN,59800000.0,NaN,NaN,NaN,96600000.0,NaN,NaN,NaN,23300000.0,NaN,NaN,NaN,127500000.0,NaN
Write Off,NaN,1009800000.0,NaN,NaN,NaN,-285400000.0,NaN,NaN,NaN,-267500000.0,NaN,NaN,NaN,74300000.0,NaN
Impairment Of Capital Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-267500000.0,NaN,NaN,NaN,74300000.0,NaN
Earnings From Equity Interest,NaN,113200000.0,NaN,NaN,NaN,176700000.0,NaN,NaN,NaN,117400000.0,NaN,NaN,NaN,153800000.0,NaN
Gain On Sale Of Security,NaN,134000000.0,NaN,NaN,NaN,-37400000.0,NaN,NaN,NaN,2700000.0,NaN,NaN,NaN,47700000.0,NaN
Net Non Operating Interest Income Expense,NaN,-1163300000.0,NaN,NaN,NaN,-1176600000.0,NaN,NaN,NaN,-1200400000.0,NaN,NaN,NaN,-1085200000.0,NaN
Interest Expense Non Operating,NaN,1207000000.0,NaN,NaN,NaN,1185800000.0,NaN,NaN,NaN,1218100000.0,NaN,NaN,NaN,1121900000.0,NaN
Interest Income Non Operating,NaN,43700000.0,NaN,NaN,NaN,9200000.0,NaN,NaN,NaN,17700000.0,NaN,NaN,NaN,36700000.0,NaN
Operating Income,NaN,10344600000.0,NaN,NaN,NaN,9872700000.0,NaN,NaN,NaN,7206500000.0,NaN,NaN,NaN,8885900000.0,NaN
Operating Expense,NaN,2862600000.0,NaN,NaN,NaN,2707500000.0,NaN,NaN,NaN,2545600000.0,NaN,NaN,NaN,2229400000.0,NaN
Other Operating Expenses,NaN,973600000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-183900000.0,NaN
Depreciation Amortization Depletion Income Statement,NaN,370400000.0,NaN,NaN,NaN,329700000.0,NaN,NaN,NaN,300600000.0,NaN,NaN,NaN,NaN,NaN
Depreciation And Amortization In Income Statement,NaN,370400000.0,NaN,NaN,NaN,329700000.0,NaN,NaN,NaN,300600000.0,NaN,NaN,NaN,NaN,NaN
Selling General And Administration,NaN,2492200000.0,NaN,NaN,NaN,2377800000.0,NaN,NaN,NaN,2245000000.0,NaN,NaN,NaN,2229400000.0,NaN
Gross Profit,NaN,13207200000.0,NaN,NaN,NaN,12580200000.0,NaN,NaN,NaN,9752100000.0,NaN,NaN,NaN,11115300000.0,NaN
Cost Of Revenue,NaN,9975400000.0,NaN,NaN,NaN,10642700000.0,NaN,NaN,NaN,9455700000.0,NaN,NaN,NaN,9961200000.0,NaN
Total Revenue,NaN,23182600000.0,NaN,NaN,NaN,23222900000.0,NaN,NaN,NaN,19207800000.0,NaN,NaN,NaN,21076500000.0,NaN
Operating Revenue,NaN,22854200000.0,NaN,NaN,NaN,22872800000.0,NaN,NaN,NaN,18865300000.0,NaN,NaN,NaN,21076500000.0,NaN

In [225]:
ticker.quarterly_financials

### Annual and Quarterly Balance Sheet

In [ ]:
ticker.balance_sheet

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Ordinary Shares Number,3164000000.0,3099000000.0,2880000000.0,2715931290.0
Share Issued,3164000000.0,3099000000.0,2880000000.0,2715931290.0
Net Debt,NaN,NaN,NaN,7151000000.0
Total Debt,3099000000.0,6834000000.0,11739000000.0,13419000000.0
Tangible Book Value,44111000000.0,28472000000.0,21705000000.0,6081000000.0
...,...,...,...,...
Receivables,2952000000.0,1913000000.0,1886000000.0,1324000000.0
Accounts Receivable,2952000000.0,1913000000.0,1886000000.0,1324000000.0
Cash Cash Equivalents And Short Term Investments,22185000000.0,17707000000.0,19384000000.0,6268000000.0
Other Short Term Investments,5932000000.0,131000000.0,NaN,NaN
Cash And Cash Equivalents,22185000000.0,17576000000.0,19384000000.0,6268000000.0

In [ ]:
ticker.quarterly_balance_sheet

,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Ordinary Shares Number,3174000000.0,3169000000.0,3164000000.0,3158000000.0,3123000000.0
Share Issued,3174000000.0,3169000000.0,3164000000.0,3158000000.0,3123000000.0
Total Debt,2331000000.0,2676000000.0,3099000000.0,5874000000.0,6665000000.0
Tangible Book Value,50481000000.0,47471000000.0,44111000000.0,39214000000.0,35721000000.0
Invested Capital,53461000000.0,50730000000.0,47803000000.0,42248000000.0,39528000000.0
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,23075000000.0,22402000000.0,22185000000.0,21107000000.0,18915000000.0
Other Short Term Investments,7779000000.0,6354000000.0,5932000000.0,1575000000.0,591000000.0
Cash And Cash Equivalents,23075000000.0,22402000000.0,22185000000.0,19532000000.0,18324000000.0
Cash Equivalents,273000000.0,933000000.0,NaN,NaN,NaN
Cash Financial,15023000000.0,15115000000.0,NaN,NaN,NaN

### Annual and Quarterly Cashflow Statement

In [ ]:
ticker.cashflow

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,7552000000.0,3483000000.0,2701000000.0,968000000.0
Repayment Of Debt,-3866000000.0,-14615000000.0,-12201000000.0,-389000000.0
Issuance Of Debt,0.0,8883000000.0,9713000000.0,10669000000.0
Issuance Of Capital Stock,0.0,0.0,12269000000.0,848000000.0
Capital Expenditure,-7172000000.0,-8014000000.0,-3242000000.0,-1437000000.0
Interest Paid Supplemental Data,152000000.0,266000000.0,444000000.0,455000000.0
Income Tax Paid Supplemental Data,1203000000.0,561000000.0,115000000.0,54000000.0
End Cash Position,16924000000.0,18144000000.0,19901000000.0,6783000000.0
Beginning Cash Position,18144000000.0,19901000000.0,6783000000.0,4277000000.0
Effect Of Exchange Rate Changes,-444000000.0,-183000000.0,334000000.0,8000000.0
Changes In Cash,-776000000.0,-1574000000.0,12784000000.0,2498000000.0
Financing Cash Flow,-3527000000.0,-5203000000.0,9973000000.0,1529000000.0
Cash Flow From Continuing Financing Activities,-3527000000.0,-5203000000.0,9973000000.0,1529000000.0
Net Other Financing Charges,-202000000.0,-178000000.0,-225000000.0,222000000.0
Proceeds From Stock Option Exercised,541000000.0,707000000.0,417000000.0,437000000.0
Net Common Stock Issuance,0.0,0.0,12269000000.0,848000000.0
Common Stock Issuance,0.0,0.0,12269000000.0,848000000.0
Net Issuance Payments Of Debt,-3866000000.0,-5732000000.0,-2488000000.0,459000000.0
Net Long Term Debt Issuance,-3866000000.0,-5732000000.0,-2488000000.0,459000000.0
Long Term Debt Payments,-3866000000.0,-14615000000.0,-12201000000.0,-389000000.0
Long Term Debt Issuance,0.0,8883000000.0,9713000000.0,10669000000.0
Investing Cash Flow,-11973000000.0,-7868000000.0,-3132000000.0,-1436000000.0
Cash Flow From Continuing Investing Activities,-11973000000.0,-7868000000.0,-3132000000.0,-1436000000.0
Net Other Investing Changes,76000000.0,6000000.0,123000000.0,46000000.0
Net Investment Purchase And Sale,-5813000000.0,-132000000.0,NaN,NaN
Sale Of Investment,22000000.0,NaN,NaN,NaN
Purchase Of Investment,-5835000000.0,-132000000.0,NaN,NaN
Net Business Purchase And Sale,0.0,0.0,-13000000.0,-45000000.0
Sale Of Business,0.0,NaN,NaN,NaN
Purchase Of Business,0.0,0.0,-13000000.0,-45000000.0
Net Intangibles Purchase And Sale,927000000.0,-1228000000.0,-10000000.0,-5000000.0
Sale Of Intangibles,936000000.0,272000000.0,NaN,NaN
Purchase Of Intangibles,-9000000.0,-1500000000.0,-10000000.0,-5000000.0
Net PPE Purchase And Sale,-7163000000.0,-6514000000.0,-3232000000.0,-105000000.0
Purchase Of PPE,-7163000000.0,-6514000000.0,-3232000000.0,-105000000.0
Capital Expenditure Reported,NaN,NaN,NaN,-1327000000.0
Operating Cash Flow,14724000000.0,11497000000.0,5943000000.0,2405000000.0
Cash Flow From Continuing Operating Activities,14724000000.0,11497000000.0,5943000000.0,2405000000.0
Change In Working Capital,-3908000000.0,518000000.0,184000000.0,-349000000.0
Change In Other Working Capital,1286000000.0,979000000.0,328000000.0,743000000.0
Change In Other Current Liabilities,1904000000.0,476000000.0,495000000.0,-41000000.0
Change In Other Current Assets,-4121000000.0,-3405000000.0,-1416000000.0,-649000000.0
Change In Payables And Accrued Expense,6029000000.0,4578000000.0,2102000000.0,682000000.0
Change In Prepaid Assets,-1417000000.0,-271000000.0,-251000000.0,-288000000.0
Change In Inventory,-6465000000.0,-1709000000.0,-422000000.0,-429000000.0
Change In Receivables,-1124000000.0,-130000000.0,-652000000.0,-367000000.0
Changes In Account Receivables,-1124000000.0,-130000000.0,-652000000.0,-367000000.0
Other Non Cash Items,340000000.0,245000000.0,408000000.0,477000000.0
Stock Based Compensation,1560000000.0,2121000000.0,1734000000.0,898000000.0
Asset Impairment Charge,177000000.0,140000000.0,202000000.0,193000000.0
Depreciation Amortization Depletion,3747000000.0,2911000000.0,2322000000.0,2154000000.0
Depreciation And Amortization,3747000000.0,2911000000.0,2322000000.0,2154000000.0
Depreciation,3747000000.0,2911000000.0,NaN,NaN
Operating Gains Losses,221000000.0,-82000000.0,231000000.0,98000000.0
Net Foreign Currency Exchange Gain Loss,81000000.0,-55000000.0,114000000.0,-48000000.0
Gain Loss On Sale Of PPE,140000000.0,-27000000.0,117000000.0,146000000.0
Net Income From Continuing Operations,12587000000.0,5644000000.0,862000000.0,-775000000.0

In [ ]:
ticker.quarterly_cashflow

,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Free Cash Flow,1005000000.0,440000000.0,1420000000.0,3297000000.0,621000000.0
Repayment Of Debt,-357000000.0,-421000000.0,-497000000.0,-899000000.0,-402000000.0
Issuance Of Debt,NaN,NaN,0.0,0.0,0.0
Capital Expenditure,-2060000000.0,-2073000000.0,-1858000000.0,-1803000000.0,-1730000000.0
End Cash Position,15879000000.0,16770000000.0,16924000000.0,20149000000.0,18887000000.0
Beginning Cash Position,16770000000.0,16924000000.0,20149000000.0,18887000000.0,18040000000.0
Effect Of Exchange Rate Changes,-94000000.0,50000000.0,123000000.0,-335000000.0,-214000000.0
Changes In Cash,-797000000.0,-204000000.0,-3348000000.0,1597000000.0,1061000000.0
Financing Cash Flow,-328000000.0,-233000000.0,-495000000.0,-712000000.0,-406000000.0
Cash Flow From Continuing Financing Activities,-328000000.0,-233000000.0,-495000000.0,-712000000.0,-406000000.0
Net Other Financing Charges,29000000.0,188000000.0,2000000.0,-42000000.0,-47000000.0
Proceeds From Stock Option Exercised,63000000.0,231000000.0,67000000.0,229000000.0,43000000.0
Net Issuance Payments Of Debt,-357000000.0,-421000000.0,-497000000.0,-899000000.0,-402000000.0
Net Long Term Debt Issuance,-357000000.0,-421000000.0,-497000000.0,-899000000.0,-402000000.0
Long Term Debt Payments,-357000000.0,-421000000.0,-497000000.0,-899000000.0,-402000000.0
Long Term Debt Issuance,NaN,NaN,0.0,0.0,0.0
Investing Cash Flow,-3534000000.0,-2484000000.0,-6131000000.0,-2791000000.0,-884000000.0
Cash Flow From Continuing Investing Activities,-3534000000.0,-2484000000.0,-6131000000.0,-2791000000.0,-884000000.0
Net Other Investing Changes,NaN,NaN,76000000.0,NaN,NaN
Net Investment Purchase And Sale,-1398000000.0,-411000000.0,-4349000000.0,-988000000.0,-90000000.0
Sale Of Investment,3677000000.0,1604000000.0,19000000.0,NaN,NaN
Purchase Of Investment,-5075000000.0,-2015000000.0,-4368000000.0,-991000000.0,-90000000.0
Net Business Purchase And Sale,-76000000.0,NaN,NaN,NaN,NaN
Purchase Of Business,-76000000.0,NaN,NaN,NaN,NaN
Net Intangibles Purchase And Sale,0.0,0.0,0.0,0.0,936000000.0
Sale Of Intangibles,0.0,0.0,0.0,0.0,936000000.0
Purchase Of Intangibles,0.0,0.0,0.0,0.0,0.0
Net PPE Purchase And Sale,0.0,-1000000.0,0.0,-1803000000.0,-1730000000.0
Purchase Of PPE,0.0,-1000000.0,0.0,-1803000000.0,-1730000000.0
Capital Expenditure Reported,-2060000000.0,-2072000000.0,-1858000000.0,NaN,NaN
Operating Cash Flow,3065000000.0,2513000000.0,3278000000.0,5100000000.0,2351000000.0
Cash Flow From Continuing Operating Activities,3065000000.0,2513000000.0,3278000000.0,5100000000.0,2351000000.0
Change In Working Capital,-1101000000.0,-1530000000.0,-2191000000.0,231000000.0,-1346000000.0
Change In Other Working Capital,569000000.0,108000000.0,179000000.0,167000000.0,449000000.0
Change In Other Current Liabilities,1004000000.0,620000000.0,888000000.0,515000000.0,187000000.0
Change In Other Current Assets,-1837000000.0,-1404000000.0,-1405000000.0,-879000000.0,-764000000.0
Change In Payables And Accrued Expense,137000000.0,797000000.0,1370000000.0,3253000000.0,409000000.0
Change In Prepaid Assets,74000000.0,-79000000.0,-552000000.0,-332000000.0,-244000000.0
Change In Inventory,-576000000.0,-1540000000.0,-1973000000.0,-2300000000.0,-1559000000.0
Change In Receivables,-472000000.0,-32000000.0,-698000000.0,-193000000.0,176000000.0
Changes In Account Receivables,-472000000.0,-32000000.0,-698000000.0,-193000000.0,176000000.0
Other Non Cash Items,-47000000.0,40000000.0,354000000.0,107000000.0,36000000.0
Stock Based Compensation,445000000.0,418000000.0,419000000.0,362000000.0,361000000.0
Asset Impairment Charge,167000000.0,50000000.0,59000000.0,60000000.0,25000000.0
Depreciation Amortization Depletion,1154000000.0,1046000000.0,989000000.0,956000000.0,922000000.0
Depreciation And Amortization,1154000000.0,1046000000.0,989000000.0,956000000.0,922000000.0
Depreciation,1154000000.0,1046000000.0,989000000.0,956000000.0,NaN
Operating Gains Losses,-258000000.0,-25000000.0,114000000.0,53000000.0,84000000.0
Net Foreign Currency Exchange Gain Loss,-258000000.0,-25000000.0,80000000.0,53000000.0,-22000000.0
Gain Loss On Sale Of PPE,NaN,NaN,34000000.0,0.0,106000000.0
Net Income From Continuing Operations,2614000000.0,2539000000.0,3707000000.0,3331000000.0,2269000000.0

In [ ]:
ticker.earnings

YFNotImplementedError: Have not implemented fetching 'earnings' from Yahoo API

In [ ]:
ticker.quarterly_earnings

YFNotImplementedError: Have not implemented fetching 'earnings' from Yahoo API

### Sustainability: Environmental, Social and Governance (ESG)

In [ ]:
ticker.sustainability

                                     Value
2020-10
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          17.68
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              102
governanceScore                      12.28
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             31.40
highestControversy                       4
esgPerformance                    OUT_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           61.39
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.43
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [ ]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 511 entries, 2012-06-22 07:56:00 to 2020-10-30 17:14:48
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        511 non-null    object
 1   To Grade    511 non-null    object
 2   From Grade  511 non-null    object
 3   Action      511 non-null    object
dtypes: object(4)
memory usage: 20.0+ KB

In [ ]:
ticker.recommendations.tail(10)

                                  Firm    To Grade From Grade Action
Date
2020-10-20 12:31:45      Credit Suisse  Outperform              main
2020-10-26 08:50:44            KeyBanc  Overweight              main
2020-10-28 16:47:21          JP Morgan  Overweight              main
2020-10-30 11:53:22      Raymond James  Strong Buy              main
2020-10-30 12:45:43      Credit Suisse  Outperform              main
2020-10-30 12:50:35     Morgan Stanley  Overweight              main
2020-10-30 15:15:15  Canaccord Genuity         Buy              main
2020-10-30 17:03:14             Mizuho         Buy              main
2020-10-30 17:06:53        Wells Fargo  Overweight              main
2020-10-30 17:14:48  Truist Securities         Buy              main

### Upcoming Events

In [ ]:
ticker.calendar

                                    0                    1
Earnings Date     2021-01-27 00:00:00  2021-02-01 00:00:00
Earnings Average                 3.19                 3.19
Earnings Low                     2.67                 2.67
Earnings High                    3.63                 3.63
Revenue Average           26288700000          26288700000
Revenue Low               25412000000          25412000000
Revenue High              26993000000          26993000000

### Option Expiration Dates

In [ ]:
ticker.options

('2020-12-30',
 '2021-01-07',
 '2021-01-14',
 '2021-01-21',
 '2021-01-28',
 '2021-02-04',
 '2021-02-18',
 '2021-03-18',
 '2021-06-17',
 '2021-07-15',
 '2021-09-16',
 '2022-01-20',
 '2022-06-16',
 '2022-09-15',
 '2023-01-19',
 '2026-02-20')

In [ ]:
expiration = ticker.options[0]

In [ ]:
options = ticker.option_chain(expiration)

In [ ]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     45 non-null     object
 1   lastTradeDate      45 non-null     datetime64[ns]
 2   strike             45 non-null     float64
 3   lastPrice          45 non-null     float64
 4   bid                45 non-null     float64
 5   ask                45 non-null     float64
 6   change             45 non-null     float64
 7   percentChange      45 non-null     float64
 8   volume             45 non-null     int64
 9   openInterest       45 non-null     int64
 10  impliedVolatility  45 non-null     float64
 11  inTheMoney         45 non-null     bool
 12  contractSize       45 non-null     object
 13  currency           45 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(7), int64(2), object(3)
memory usage: 4.7+ KB

In [ ]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,FB201231C00195000,2020-12-30 20:54:40,195.0,77.60,76.35,77.5,-4.200005,-5.134480,1,21,1.773439,True,REGULAR,USD
1,FB201231C00200000,2020-12-30 20:39:19,200.0,72.50,71.35,72.5,-5.250000,-6.752411,7,33,1.648439,True,REGULAR,USD
2,FB201231C00205000,2020-12-30 20:22:11,205.0,68.29,66.35,67.5,-4.870003,-6.656647,11,49,1.531252,True,REGULAR,USD
3,FB201231C00210000,2020-12-29 20:31:41,210.0,68.18,61.35,62.5,0.000000,0.000000,2,43,1.414065,True,REGULAR,USD
4,FB201231C00215000,2020-12-24 15:29:26,215.0,55.50,56.35,57.5,0.000000,0.000000,3,35,1.296879,True,REGULAR,USD

In [ ]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     43 non-null     object
 1   lastTradeDate      43 non-null     datetime64[ns]
 2   strike             43 non-null     float64
 3   lastPrice          43 non-null     float64
 4   bid                43 non-null     float64
 5   ask                43 non-null     float64
 6   change             43 non-null     float64
 7   percentChange      43 non-null     float64
 8   volume             42 non-null     float64
 9   openInterest       43 non-null     int64
 10  impliedVolatility  43 non-null     float64
 11  inTheMoney         43 non-null     bool
 12  contractSize       43 non-null     object
 13  currency           43 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 4.5+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [ ]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [ ]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [ ]:
tickers = yf.Tickers('msft aapl goog')

In [ ]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [ ]:
pd.Series(tickers.tickers['MSFT'].info)

zip                                                                98052-6399
sector                                                             Technology
fullTimeEmployees                                                      163000
longBusinessSummary         Microsoft Corporation develops, licenses, and ...
city                                                                  Redmond
                                                  ...
impliedSharesOutstanding                                                 None
category                                                                 None
fiveYearAverageReturn                                                    None
regularMarketPrice                                                     225.23
logo_url                              https://logo.clearbit.com/microsoft.com
Length: 123, dtype: object

In [ ]:
tickers.tickers['AAPL'].history(period="1mo")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-11-30  116.97  120.97  116.81  119.05  169410200          0             0
2020-12-01  121.01  123.47  120.01  122.72  128166800          0             0
2020-12-02  122.02  123.37  120.89  123.08   89004200          0             0
2020-12-03  123.52  123.78  122.21  122.94   78967600          0             0
2020-12-04  122.60  122.86  121.52  122.25   78260400          0             0
2020-12-07  122.31  124.57  122.25  123.75   86712000          0             0
2020-12-08  124.37  124.98  123.09  124.38   82225500          0             0
2020-12-09  124.53  125.95  121.00  121.78  115089200          0             0
2020-12-10  120.50  123.87  120.15  123.24   81312200          0             0
2020-12-11  122.43  122.76  120.55  122.41   86939800          0             0
2020-12-14  122.60  123.35  121.54  121.78   79184500          0             0
2020-12-15  124.34  127.90  124.13  127.88  157572300          0             0
2020-12-16  127.41  128.37  126.56  127.81   98208600          0             0
2020-12-17  128.90  129.58  128.04  128.70   94359800          0             0
2020-12-18  128.96  129.10  126.12  126.66  192541500          0             0
2020-12-21  125.02  128.31  123.45  128.23  121251600          0             0
2020-12-22  131.61  134.41  129.65  131.88  168904800          0             0
2020-12-23  132.16  132.43  130.78  130.96   88223700          0             0
2020-12-24  131.32  133.46  131.10  131.97   54930100          0             0
2020-12-28  133.99  137.34  133.51  136.69  124486200          0             0
2020-12-29  138.05  138.79  134.34  134.87  120778200          0             0
2020-12-30  135.58  135.99  133.40  133.72   92882124          0             0

In [ ]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends         High          Low  \
Date
2020-11-30 AAPL   119.050003          0   120.970001   116.809998
           GOOG  1760.739990          0  1788.064941  1755.000000
           MSFT   214.070007          0   214.759995   210.839996
2020-12-01 AAPL   122.720001          0   123.470001   120.010002
           GOOG  1798.099976          0  1824.829956  1769.369995
...                      ...        ...          ...          ...
2020-12-29 GOOG  1758.719971          0  1792.439941  1756.089966
           MSFT   224.149994          0   227.179993   223.580002
2020-12-30 AAPL   133.720001          0   135.990005   133.399994
           GOOG  1739.520020          0  1765.094971  1725.680054
           MSFT   221.679993          0   225.630005   221.470001

                        Open  Stock Splits     Volume
Date
2020-11-30 AAPL   116.970001             0  169410200
           GOOG  1781.183960             0    1823800
           MSFT   214.100006             0   33064800
2020-12-01 AAPL   121.010002             0  128166800
           GOOG  1774.369995             0    1739000
...                      ...           ...        ...
2020-12-29 GOOG  1787.790039             0    1298600
           MSFT   226.309998             0   17348000
2020-12-30 AAPL   135.580002             0   92882124
           GOOG  1762.010010             0    1293285
           MSFT   225.229996             0   19273172

[66 rows x 7 columns]

In [ ]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [ ]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4045 entries, 2020-12-23 04:15:00-05:00 to 2020-12-30 17:10:00-05:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (MSFT, Open)    2500 non-null   float64
 1   (MSFT, High)    2500 non-null   float64
 2   (MSFT, Low)     2500 non-null   float64
 3   (MSFT, Close)   2500 non-null   float64
 4   (MSFT, Volume)  2500 non-null   float64
 5   (AAPL, Open)    3843 non-null   float64
 6   (AAPL, High)    3843 non-null   float64
 7   (AAPL, Low)     3843 non-null   float64
 8   (AAPL, Close)   3843 non-null   float64
 9   (AAPL, Volume)  3843 non-null   float64
 10  (SPY, Open)     3358 non-null   float64
 11  (SPY, High)     3358 non-null   float64
 12  (SPY, Low)      3358 non-null   float64
 13  (SPY, Close)    3358 non-null   float64
 14  (SPY, Volume)   3358 non-null   float64
dtypes: float64(15)
memory usage: 505.6 KB

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [ ]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700

In [ ]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700